<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" class="h-50">
  <div fxLayout="column" fxFlex.gt-xs="42" fxLayoutAlign="start stretch" class="sideform">
    <div fxLayout="row" fxLayoutAlign="start center">
      <h3 class="title">Embarazos</h3>
      <div fxFlex></div>
      <button mat-icon-button (click)="reset()">
        <mat-icon [icIcon]="icAdd"></mat-icon>
      </button>
    </div>
    <form fxLayout="column" fxFlex.gt-xs [formGroup]="pregnancy">
      <mat-form-field appearance="outline" class="blue no-pad bold-form" floatLabel="always">
        <mat-label>Fecha</mat-label>
        <input
          matInput
          [matDatepicker]="datePicker"
          formControlName="date"
          placeholder="Seleccione"
          autocomplete="off"
        />
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex.gt-xs class="blue bold-form mt-6" floatLabel="always">
        <mat-label>Descripción</mat-label>
        <textarea
          matInput
          matAutosize
          matTextareaAutosize
          formControlName="description"
          value=""
          cdkAutosizeMinRows="8"
        ></textarea>
      </mat-form-field>
      <div fxFlex></div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex></div>
        <button mat-stroked-button color="warn" *ngIf="selected" (click)="delete()">
          <mat-icon [icIcon]="icDelete"></mat-icon>
        </button>
        <button mat-stroked-button class="ml-6" (click)="close()">Cerrar</button>
        <button mat-flat-button color="primary" class="ml-6" (click)="add()" [disabled]="sending || !pregnancy.valid">
          Guardar
        </button>
      </div>
    </form>
  </div>
  <div fxLayout="column" fxFlex.gt-xs="58" fxLayoutAlign="start stretch" class="sideregs ml-5">
    <h3 class="title ml-6 grey">Registros ({{ items.length }})</h3>
    <!-- <perfect-scrollbar fxLayout="column" style="max-height: 402px;"> -->
      <div
        *ngFor="let pregnancy of items"
        class="reg"
        fxLayout="row"
        fxLayoutAlign="start start"
        (click)="select(pregnancy)"
        [class.selected]="selected && selected.id == pregnancy.id"
      >
        <div class="icon">
          <mat-icon [icIcon]="icAssignment"></mat-icon>
        </div>
        <div fxLayout="column" fxFlex.gt-xs fxLayoutAlign="start stretch">
          <p>{{ pregnancy.description }}</p>
          <p class="date">{{ pregnancy.date | date }}</p>
        </div>
      </div>
    <!-- </perfect-scrollbar> -->
  </div>
</div>
