<div class="toolbar w-full px-gutter" fxLayout="row" fxLayoutAlign="start center" vexContainer>
  <button (click)="openSidenav()" [fxHide]="!mobileQuery" mat-icon-button type="button">
    <mat-icon [icIcon]="icMenu"></mat-icon>
  </button>

  <a style="overflow: hidden;" *ngIf="isVerticalLayout$ | async"
     [routerLink]="['/']"
     class="ltr:mr-4 rtl:ml-4 block"
     fxLayout="row"
     fxLayoutAlign="start center">
    <img class="select-none" src="assets/img/logo-sm.png" style="width:80%;">
  </a>

<div fxLayout="row" class="current-datetime" fxHide fxShow.gt-sm>

  <span class="heading-2 mr-1"><strong>{{this.date.format('DD')}}</strong></span>
  <span class="heading-2 text-secondary"><strong>{{this.date.format('[de] MMMM [de] YYYY')}}</strong></span>
</div>

  <button class="" mat-button type="button" (click)="selectCalendar()">
    <ic-icon [icon]="icAppointment" inline="true" size="24px"></ic-icon>
    <span class="ml-1 cont-home-card">Calendario</span>
  </button>
  
  <span fxFlex></span>

  <span class="version-barra">VERSIÓN: 10.1</span>

  <div class="-mx-1 flex items-center ml-3">
    <div class="px-1">
      <vex-toolbar-user></vex-toolbar-user>
    </div>
  </div>
</div>