    <div fxLayout="column" fxLayoutAlign="start stretch">
        <h2 mat-dialog-title class="title text-black-600">Pagos</h2>
    </div>

    <mat-dialog-content >
        <table @stagger [dataSource]="dataDetallePago" class="w-full"  mat-table
                matSort>
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> Recibo N° </th>
                  <td mat-cell *matCellDef="let element" >{{element.id}}</td>
                </ng-container>
  
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                  <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
                </ng-container>
  
                <ng-container matColumnDef="valor">
                  <th mat-header-cell *matHeaderCellDef> Valor </th>
                  <td mat-cell *matCellDef="let element" class="campo-normal">${{transform(element.valor)}}</td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <td mat-cell *matCellDef="let element" class="campo-normal"><button (click)="pagoPdf(element.id)" style="padding: 10px 10px;" ><mat-icon class="c-azul" [icIcon]="pdf"></mat-icon></button></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <div class="cont-valores">
              <span><strong>Valor pedido:</strong> ${{transform(valor_credito)}}</span>
              <span><strong>Abonos:</strong> ${{transform(total_Abonos)}}</span>
              <span><strong>Saldo:</strong> ${{transform(valor_credito-total_Abonos)}}</span>
            </div>
    </mat-dialog-content>