section{
    padding: 0px 20px;
    overflow: hidden;
}

.cont-img{
    width: 100%;
}

.cont-img img{
    border-radius: 5px;
}

.cont-cuerpo{
    overflow: hidden;
    width: 100%;
    padding-top: 20px;
}