@media print {
    .page-break {
        display: block;
        page-break-before: auto;
        page-break-after: auto;
        page-break-inside: avoid !important;
        float: none;
    }

    .print-block {
        display: block !important;
    }

    .no-print {
        display: none;
    }
}

.h-130 {
    height: 130px;
}

textarea {
    height: 20px;
    border: 0;
}

input {
    height: 17px !important;
    max-height: 17px !important;
    padding: 0;
    margin: 0;
    border: 0;
}