.tag{
    background-color: rgb(56, 56, 56);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
}

table th, table td{
    text-align: center !important;
}

.bold-form{
    width: 100%;
}

.card{
    width: 100%;
    overflow: hidden;
}

.cont-tabla{
    width: 100%;
    overflow-x: scroll;
}