<section class="cont-modal">
  <div>
      <div class="titulo-modal">
        <h2 *ngIf="!id_cliente">Crear Cliente</h2>
        <h2 *ngIf="id_cliente">Editar cliente</h2>
      </div>

      <div>
          <form [formGroup]="clienteFormGroup">
              <div class="linea-form">
                  <mat-form-field appearance="outline" class="mb-4 bold-form items-form" floatLabel="always" style="flex-grow: 2">
                      <mat-label>Nombre</mat-label>
                      <input matInput type="text" placeholder="..." formControlName="name" [(ngModel)]="nombre" /><!--[(ngModel)]="precio"-->
                  </mat-form-field>
              </div>
              <div class="linea-form">
                <mat-form-field appearance="outline" class="mb-4 bold-form items-form" floatLabel="always" style="flex-grow: 2">
                    <mat-label>Tipo de documento</mat-label>
                    <input matInput type="text" placeholder="..." formControlName="tipo_documento" [(ngModel)]="tipo_documento" />
                </mat-form-field>
            </div>
              <div class="linea-form">
                  <mat-form-field appearance="outline" class="mb-4 bold-form items-form" floatLabel="always" style="flex-grow: 2">
                      <mat-label>Email</mat-label>
                      <input matInput type="text" placeholder="..." formControlName="email" [(ngModel)]="email" />
                  </mat-form-field>
              </div>
              <div class="linea-form">
                <mat-form-field appearance="outline" class="mb-4 bold-form items-form" floatLabel="always" style="flex-grow: 2">
                    <mat-label>Dirección</mat-label>
                    <input matInput type="text" placeholder="..." formControlName="direccion" [(ngModel)]="direccion" />
                </mat-form-field>
              </div>
              <div class="linea-form">
                <mat-form-field appearance="outline" class="mb-4 bold-form items-form" floatLabel="always" style="flex-grow: 2">
                    <mat-label>Teléfono de contacto</mat-label>
                    <input matInput type="text" placeholder="..." formControlName="telefono_contacto" [(ngModel)]="telefono_contacto" />
                </mat-form-field>
              </div>
              <div class="linea-form">
                <mat-form-field appearance="outline" class="mb-4 bold-form items-form" floatLabel="always" style="flex-grow: 2">
                    <mat-label>Teléfono empresa</mat-label>
                    <input matInput type="text" placeholder="..." formControlName="telefono_empresa" [(ngModel)]="telefono_empresa" />
                </mat-form-field>
              </div>
              <div class="linea-form">
                <mat-form-field appearance="outline" class="mb-4 bold-form items-form" floatLabel="always" style="flex-grow: 2">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" placeholder="..." formControlName="password" />
                </mat-form-field>
            </div>
          </form>
      </div>
  </div>

  <div class="cont-btns-modal">
      <button class="btn btn-azul" (click)="insertarCliente()">Guardar</button>
  </div>

</section>



































<!--
<div fxLayout="column" fxLayoutAlign="start stretch">
    <h2 mat-dialog-title class="title text-black-600">Nuevo cliente</h2>
  </div>
  <mat-dialog-content style="height: 500px;">
    <form fxLayout="column"  fxFlex.gt-xs [formGroup]="clienteFormGroup">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <mat-form-field appearance="outline" class="mb-4 bold-form" floatLabel="always" style="flex-grow: 2;">
              <mat-label>Nombre</mat-label>
              <input [(ngModel)]="nombre" matInput  placeholder="..." formControlName="name" />
            </mat-form-field>
          </div>
          <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <mat-form-field appearance="outline" class="mb-4 bold-form" floatLabel="always" style="flex-grow: 2;">
              <mat-label>Documento</mat-label>
              <input [(ngModel)]="tipo_documento" matInput type="number" placeholder="..." formControlName="tipo_documento" />
            </mat-form-field>
          </div>
          <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <mat-form-field appearance="outline" class="mb-4 bold-form" floatLabel="always"
              style="flex-grow: 2;">
              <mat-label>Dirección</mat-label>
              <input [(ngModel)]="direccion" matInput placeholder="..." formControlName="direccion" />
            </mat-form-field>
          </div>
          <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <mat-form-field appearance="outline" class="mb-4 bold-form" floatLabel="always" style="flex-grow: 2;">
              <mat-label>Teléfono de empresa</mat-label>
              <input [(ngModel)]="telefono_empresa" matInput type="number" placeholder="..." formControlName="telefono_empresa" />
            </mat-form-field>
          </div>
          <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <mat-form-field appearance="outline" class="mb-4 bold-form" floatLabel="always" style="flex-grow: 2;">
              <mat-label>Teléfono de contacto</mat-label>
              <input [(ngModel)]="telefono_contacto" matInput type="number" placeholder="..." formControlName="telefono_contacto" />
            </mat-form-field>
          </div>
          <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <mat-form-field appearance="outline" class="mb-4 bold-form" floatLabel="always" style="flex-grow: 2;">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="..." formControlName="email" [(ngModel)]="email" />
               <mat-error *ngIf="usr.get('email').invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>
            <mat-form-field appearance="outline" class="mb-4 bold-form" floatLabel="always" [hidden]="showOnlyName"
              style="flex-grow: 2;">
              <mat-label>Color asignado</mat-label>
              <mat-select [(ngModel)]="cliente_color" formControlName="color" placeholder="..." #singleSelect>
                <mat-option>
                  <ngx-mat-select-search [formControl]="patientFilterCtrl"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let patient of filteredcolor | async" [value]="patient.id_referencia">
                 <p [ngStyle]="{'background-color': patient.id_referencia}">
                   
                  {{patient.name}}
                   
                 </p> 
                </mat-option>
              </mat-select>
            </mat-form-field>
          <div class="cont-btns">
            <button mat-button (click)="close()">Cancelar</button>
            <button mat-button (click)="save()" >Crear</button>
          </div>
    </form>
 </mat-dialog-content>
-->
